<!DOCTYPE html>
<html ng-app='ShoppingListApp'>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DigestCycle </title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.js"></script>
    <script src="../Javascript/ngRepeatFILTER.js"></script>
</head>

<body>
    <h1>ng-repeat</h1>
    <div ng-controller='ShoppingListController'>
        <div>
            <h3>Shopping List :</h3>
            <ul>
                <li ng-repeat="item in shoppingList1">{{item}}</li>
            </ul>

            <ul>
                <li ng-repeat="item in shoppingList2">{{item.name}} and {{item.quantity}}</li>
            </ul>
<input type="text" ng-model="shoppingList2[0].name">
            <ul>
                <li ng-repeat="item in shoppingList2">{{$index+1}}. {{item.name}} and {{item.quantity}}</li>
            </ul>
            <input type="text" ng-model="shoppingList2[0].name">
        </div>
        <input type="text" ng-model="newItemName" placeholder="item name">
        <input type="text" ng-model="newItemQuantity" placeholder="item quantity">
    <button ng-click="addToList()">Add to List</button>
    </div>

</body>

</html>